 <body style="background-image: none;">
 <div class="profile-page">
     <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg">
         <div class="container">
             <div class="navbar-translate">
                 <a class="navbar-brand" href="/">
                    <img src="assets/images/applogo.png" alt="app logo" class="app-logo-members-search">
                 </a>
             </div>
             
                 <ul class="navbar-nav ml-auto">
                     <li class="nav-item">
                         <a href="/search" class="nav-link">
                             Search
                         </a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/members">
                             MyCluster
                         </a>
                     </li>
                     <li class="nav-item">
                         <a class="nav-link" href="/logout">
                             Sign Out
                         </a>
                     </li>
                     </li>
                 </ul>
             
         </div>
     </nav>
     <div class="page-header header-filter" data-parallax="true"style="background-image:url('assets/images/bg.jpg');">
     </div>
     <div class="main main-raised">
         <div class="profile-content">
             <div class="container">
                 <div class="row">
                     <div class="col-md-6 ml-auto mr-auto">
                         <div class="profile">
                             <div class="avatar-profile">
                                 <img src="{{user.avatarPath}}" alt="profile Image"
                                     class="img-raised rounded-circle img-fluid">
                             </div>
                             <div class="name">
                                 <h3 class="title">{{user.email}}</h3>
                             </div>
                         </div>
                     </div>
                 </div>


                   <div class="description text-center">

                        {{#each user.Albums}}
                        <br>
                        <div class="album_list card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{name}}</h5>
                                <a href = {{link}}> <img class="card-img-top" src= "{{cover}}" alt="Cover Album Image"></a>
                                <h5 class="card-title">{{artist}}</h5>
                            </div>
                        </div>
                        {{/each}}


                            {{!-- Documentation of how info was pulled from array
                            {{#each user.Albums}}
                                {{name}}
                                {{artist}}
                                {{cover}}
                                {{link}}
                                {{/each}} 
                            --}}  
                 </div>

                
             </div>
         </div>
     </div>
</div>

</body>

